.contacts {
  width: 100%;
  background-color: $background-blue;
  color: $white;

  @media (min-width: $desktop-width) {
    background-color: $background-violet;

    &--footer {
      background-color: $background-blue;
      padding-bottom: 45px;
    }
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contacts-header {
  padding-top: 20px;
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    padding-top: 44px;
  }
}

.contacts__list {
  @include list-style;
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}

.contacts__item {
  margin-right: 6px;
}

.contacts__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 3px;

  &--color {
    color: $yellow;
    font-weight: 600;
  }
  &--shedule {
    padding-top: 2px;
    padding-bottom: 20px;
  }
}

.contacts__link {
  font-size: 24px;
  line-height: 29px;
  color: $white;
}

.contacts__social {
  @media (min-width: $desktop-width) {
    padding-top: 44px;
  }
}

.contacts__phone {
  @media (min-width: $desktop-width) {
    padding-top: 25px;
  }
}
