.walk__header {
  font-family: 'Neumann';
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  color: $font-color;
  padding-top: 50px;
  padding-bottom: 15px;

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    font-size: 65px;
    line-height: 96px;
  }
}

.walk__wrapper {
  padding: 0 64px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 100px;
  }
}

.walk__button {
  font-family: 'MuseoSansCyrl-700';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $font-color;
  border: 2px solid#C1A050;
  padding: 18px 40px 18px 41px;
  border-radius: 220px;
  background-color: $white;
  cursor: pointer;
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-top: 133px;
    font-size: 14px;
    line-height: 17px;
    padding: 27px 91px 27px 92px;
  }
}

.walk__slider-header {
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    font-size: 45px;
    line-height: 66px;
    text-align: end;
    width: 270px;
    margin-bottom: 162px;
  }
}

.walk__buttons-item {
  background-color: $button-blue;
  width: 50px;
  height: 50px;
  border-radius: 115px;
  border: none;

  &:hover {
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  &--next {
    opacity: 0.3;
  }
}

.walk__slider-buttons {
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    direction: ltr;
  }
}

.walk__slider-wrap {
  position: relative;
  margin-bottom: 50px;
}

.walk__slider-control {
  position: absolute;
  bottom: 23px;
  left: 50%;
  z-index: 20;
  display: flex;
  // width: 32px;
  justify-content: space-between;
  transform: translateY(-50%);
  align-items: center;
  border: none;

  & button {
    padding: 0;
    width: 6px;
    height: 6px;
    background-color: $black;
    border: 2px solid $black;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 6px;
  }

  & .current {
    background-color: $button-blue;
    border: 2px solid $button-blue;
    width: 10px;
    height: 10px;
  }

  @media (min-width: $desktop-width) {
    bottom: 21px;
    transform: translateX(-50%);
  }
}

.walk__slider {
  @media (min-width: $desktop-width) {
    display: flex;
    direction: rtl;
    margin-bottom: 120px;
  }
}

.walk__img {
  @media (min-width: $desktop-width) {
    width: 955px;
    height: 450px;
  }
}
