// Viewports
$mobile-width: 360px;
$tablet-width: 768px;
$desktop-width: 1540px;

$white: #ffffff;
$black: #000000;
$blue: #81b3d2;
$background-blue: #00004A;
$yellow: #E9C878;
$header-blue: #3766CC;
$button-color: #6E5A45;
